.payment-body h2 {
    margin: 1rem 0;
    text-align:center;
    font-size:2rem;
}
.payment-body {
    margin: 0 1rem;
}
.payment-body img {
    width:100px;
}
.invoice-desc {
    margin: 2em 0;
    line-height: 1.5em;
    font-size: 1.5em;
    text-align:center;
}
.img-container {
    text-align: center;
}
.save-buttons button {
    background-color: #b57230;
    color: #fff;
    border: 0;
    margin: 1em auto;
    -webkit-border-radius: .5em;
    border-radius: .5em;
    width: 96%;
    font-size: 1.6rem;
    padding: 1rem;
    -webkit-box-flex: 1;
    display: block;
    -webkit-user-select: none;
}
.pay-summary {
    margin: .6em;
    background-color: #fff;
    -webkit-border-radius: .4rem;
    border-radius: .4rem;
    -webkit-box-shadow: 0 0px 1px rgba(0, 0, 0, .2);
    box-shadow: 0 0px 1px rgba(0, 0, 0, .2);
}
.pay-summary .item {
    border-bottom: 1px solid #f3f3f3;
    padding: 0.5em 0;
    line-height: 1.5em;
    font-size: 1.4rem;
    padding-left: 1em;
}
.pay-summary .m-prices{
    color: #000;
}
.fixed {
    position: fixed;
    bottom:0;
    left:0;
    width: 100%;
}
