html {
    /*rem is relative of html <html>*/
    /*Font size of the root element*/
    font-size: 62.5%;
    /*10 ÷ 16 × 100% = 62.5%*/
}
body {
    font-size: 13px/1.231 arial;
    /*1.4 × 10px = 14px */
    color: #333;
    padding: 0;
    margin:0;
    background-color: #efefef;
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400;
    display: block;
}
strong, b {
    font-weight: bold;
}
li {
    list-style-type: none;
}
