.s-header {
    position: relative;
    z-index: 999;
}
.s-header nav {
    box-sizing: border-box;
    background-color: #b10000;
    position: relative;
    overflow: hidden;
    height: 40px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}
.s-header nav h1 {
    text-align: center;
    line-height: 40px;
    height: 40px;
    font-size: 2.0rem;
    color: #fff;
    -webkit-text-shadow: 1px 0 1px rgba(0, 0, 0, .4);
    text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}
.s-header nav .back {
    display: none;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IuWbvuWxgl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjI1cHgiIGhlaWdodD0iMjBweCIgdmlld0JveD0iMCAwIDI1IDIwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNSAyMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMjQuNSw5Ljk5OGMwLDAuNzI3LTAuNTg0LDEuMzE2LTEuMzA1LDEuMzE2SDEuODA0Yy0wLjcyLDAtMS4zMDQtMC41ODktMS4zMDQtMS4zMTZsMCwwDQoJYzAtMC43MjcsMC41ODQtMS4zMTUsMS4zMDQtMS4zMTVoMjEuMzkxQzIzLjkxNiw4LjY4MiwyNC41LDkuMjcxLDI0LjUsOS45OThMMjQuNSw5Ljk5OHoiLz4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0xMC44NDMsMTkuMTE0Yy0wLjUxLDAuNTE0LTEuMzM1LDAuNTE0LTEuODQ1LDBsLTguMTE2LTguMTg2Yy0wLjUxLTAuNTE0LTAuNTEtMS4zNDcsMC0xLjg2MWwwLDANCgljMC41MDktMC41MTQsMS4zMzUtMC41MTQsMS44NDUsMGw4LjExNiw4LjE4NkMxMS4zNTMsMTcuNzY3LDExLjM1MywxOC42MDEsMTAuODQzLDE5LjExNEwxMC44NDMsMTkuMTE0eiIvPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTEwLjg0MywwLjg4NGMtMC41MS0wLjUxNC0xLjMzNS0wLjUxNC0xLjg0NSwwTDAuODgyLDkuMDdjLTAuNTEsMC41MTQtMC41MSwxLjM0NiwwLDEuODZsMCwwDQoJYzAuNTA5LDAuNTE0LDEuMzM1LDAuNTE0LDEuODQ1LDBsOC4xMTYtOC4xODZDMTEuMzUzLDIuMjMsMTEuMzUzLDEuMzk4LDEwLjg0MywwLjg4NEwxMC44NDMsMC44ODR6Ii8+DQo8L3N2Zz4NCg==');
}
.s-header nav .back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 5rem;
    overflow: hidden;
    color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
a:-webkit-any-link {
    text-decoration: none;
}
#slideshow {
    background-color:#fff;
    position: relative;
    overflow: hidden;
}
#slideshow .swiper-wrapper {
    height: 30rem;
    display: -webkit-box;
    -webkit-box-lines: multiple;
}
#slideshow .swiper-slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}
.swiper-slide img {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    max-width: 100%;
    max-height: 100%;
}
.pagination {
    position: absolute;
    top: .5em;
    left: 0;
    right: 0;
    text-align: center;
}
.swiper-pagination-switch {
    height: 6px;
    width: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin: 0 .3em;
    display: inline-block;
    background-color: rgba(0, 0, 0, .2);
}
.swiper-visible-switch {
    /*background: #aaa;*/
}
.swiper-active-switch {
    background-color: #b10000;
}
/*product summary*/
 .s-summary {
    background-color: #fff;
}
#summary h1 {
    background-color: rgba(255, 255, 255, .9);
    padding: 0.9em;
    font-size: 1.4rem;
}
.m-prices {
    line-height: 1.8em;
    padding-bottom: .6em;
    color: #999;
    border-bottom: 1px solid #f3f3f3;
}
.m-prices>li {
    padding-left: 1em;
    list-style-type: none;
    font-size: 1.3rem;
}
.m-prices .key {
    float: left;
}
.m-prices .price {
    display: inline-block;
}
.m-prices b {
    color: #b10000;
    font-size: 1.5em;
    margin-left: .1em;
}
.s-summary .m-sales, .s-summary .m-promotions, .s-summary .m-logistics, .s-summary .m-premiums {
    border-bottom: 1px solid #f3f3f3;
    padding: 1em 0;
    font-size: 0.9em;
    padding-left: 1em;
}
.s-summary .m-sales .key, .s-summary .m-promotions .key, .s-summary .m-logistics .key, .s-summary .m-premiums .key {
    color: #999;
    float: left;
}
.s-summary .m-logistics {
    border: 0;
    color: #999;
}
.m-logistics .form, .m-logistics .price {
    color:#000;
}
/*user buy box*/
 .ui-section-box {
    margin: 0.6em;
    background-color: #fff;
    -webkit-border-radius: 0.4rem;
    border-radius: 0.4rem;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}
.s-buy .summary-c .price, .s-buy .summary-c .stock {
    float: left;
    width :50%;
    font-size: 0.9em;
}
.s-buy .summary-c .key {
    color: #999;
}
.s-buy .price b {
    color: #b10000;
}
.s-buy .fields {
    overflow: hidden;
    padding: 0.5em;
}
.s-buy .option {
    padding: .8em 0;
    display: -webkit-box;
}
.s-buy .quantity {
    overflow: hidden;
}
.s-buy .quantity h2 {
    float:left;
    height: 2.5rem;
    line-height: 2.5rem;
}
.s-buy .quantity .items {
    float: left;
    margin-left: 10px;
}
.s-buy .quantity .ui-number {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #e3e3e3;
    letter-spacing: 0;
    height: 2.6rem;
    line-height: 2.5rem;
    overflow: hidden;
}
.s-buy .quantity .ui-number .num {
    height: 100%;
    width: 6rem;
    border: 0;
    float: left;
    text-align: center;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05);
    font-weight: 700;
}
.s-buy .quantity .ui-number .increase, .s-buy .quantity .ui-number .decrease {
    font-style: normal;
    font-size: 2rem;
    font-weight: 700;
    border: 0;
    display: inline-block;
    width: 3rem;
    float: left;
    margin: 0;
    height: 100%;
    -webkit-user-select: none;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#eeefee));
    background-image: -webkit-linear-gradient(top, #fff 0, #eeefee 100%);
    background-image: linear-gradient(180deg, #fff 0, #eeefee 100%);
}
.s-buy .quantity .ui-number .decrease {
    border-right: 1px solid #e3e3e3;
}
.s-buy .quantity .ui-number .increase {
    border-left: 1px solid #e3e3e3;
}
.s-buy .service {
    overflow: hidden;
    margin-top: 2rem;
    background-color: #f5f5f5;
    padding: 1rem 2.4rem 1rem 0.8rem;
    -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, .2);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, .2);
    -webkit-border-radius: 0 0 0.3rem 0.3rem;
    border-radius: 0 0 0.3rem 0.3rem;
}
.s-buy .service h2 {
    color: #999;
    float: left;
    font-size: 1.2rem;
}
.s-buy .service ul {
    float: left;
    font-size: 1.2rem;
}
.s-buy .service ul li {
    display: inline;
    margin-right: .5em;
}
.s-buy .buy-button {
    clear: both;
    text-align: center;
    padding-top: 1em;
}
.s-buy .buy-button button {
    background-color: #b57230;
    color: #fff;
    border: 0;
    margin: 0 auto;
    -webkit-border-radius: .5em;
    border-radius: .5em;
    width: 96%;
    font-size: 1.6rem;
    padding: 1rem;
    -webkit-box-flex: 1;
    display: block;
    -webkit-user-select: none;
}
.s-footer {
    margin-top: 1.5rem;
    border-top: 1px solid #c9c9c9;
    background-color: #e2e2e2;
    font-size: 1.2rem;
    padding: 1rem 2rem;
}
